@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --cor_principal: #2b59e4;
    --cor_branco: #fff;
    --cor_preto: #000;

    --cor_cinza: #181818;
    --cor_cinza_claro:rgb(179, 179, 179);
    --cor_azul_claro: #E7F3FF;

    --fonte_titulo: 'Roboto Serif', serif;
    --fonte_texto: 'Roboto Flex', sans-serif;
}

html, body {
    height: auto;
    color: var(--cor_preto);

    scroll-behavior: smooth;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header, footer {
    background-color: var(--cor_branco);
    color: var(--cor_preto);
    font-family: var(--fonte_texto);
    padding: 1rem;
}

header .content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-title, footer .footer-title {
    font-family: var(--fonte_titulo);
    font-weight: 400;
    font-size: 30px;
}

header .content nav figure {
    width: 30px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

/* MENU HAMBURGUER */

.btn-burguer {
    background-color: transparent !important;
    color: var(--cor_preto);
    height: 30px;
}

i#burguer {
    font-size: 30px;
    height: auto;
}

header .content nav figure img {
    width: 100%;
}

nav .nav-btns {
    display: flex;
    align-items: center;
}

/* MENU */

.offcanvas {
    background-color: var(--cor_branco)!important;
    color: var(--cor_preto);
    padding-left: 1rem;
}

.offcanvas-body {
    padding: 0!important;
}

menu {
    display: block;
    width: 100%;
    margin: 0;
}

menu ul {
    padding: 0;
}

menu li {
    list-style-type: none;
}

menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: var(--cor_cinza);
}

.btn-close {
    background: transparent url("../img/close.png") center / 1em auto no-repeat!important;
}

/* section initial-info */

.initial-info {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.67)), url("../img/pixel-art-background-light-mode.jpg") center center / cover no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: var(--cor_branco);
    padding: 2rem;
    text-align: center;
}

.info .img-lidia {
    width: 300px;
    height: 300px;
    margin: auto;
}

.img-lidia img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-title {
    font-family: var(--fonte_titulo);
    font-size: 24px;
    font-weight: 400;
    margin: 0.5rem;
}

.info-career {
    font-family: var(--fonte_titulo);
}

strong {
    color: var(--cor_principal);
}

/* CONTACTS */

.info-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact {
    display: inline-block;
    width: 50px;
    margin: 0 5px;
}

.contact img {
    width: 100%;
    height: auto;
}

/* ABOUT ME */

.about-me {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.67)), url("../img/pixel-art-section-2.jpg") left center / cover no-repeat;
    color: var(--cor_branco);
    padding: 3rem;
    text-align: justify;
}

.about-me-title {
    font-size: 24px;
    color: var(--cor_principal);
    font-family: var(--fonte_titulo);
    margin-bottom: 1rem;
}

/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: auto;
    border-radius: 10px!important;
    text-align: center;
    margin: 5px;
    color: var(--cor_branco)!important;
}

.download-resume-pt-br { background-color: var(--cor_principal)!important; }

.download-resume-eng {
    border: 1px solid var(--cor_branco)!important;
    background-color: var(--cor_cinza)!important;
}

/* TECNOLOGIES */

.tecnologies {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.67)), url("../img/pixel-art-section.jpg") left center / cover no-repeat;
    padding: 3rem 1rem;
    color: var(--cor_branco);
}

.flex-tecnologies {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tecnology {
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.logo-tecnology {
    width: 100px;
    height: 100px;
}

.logo-tecnology img {
    width: 100%;
    height: auto;
}

.name-tecnology {
    font-size: 16px;
    text-align: center!important;
    margin: 0!important;
}

.tecnologies-title {
    font-size: 24px;
    color: var(--cor_principal);
    font-family: var(--fonte_titulo);
    text-align: center;
    margin: 1rem 0;
}

/* PROJECTS */

.projects {
    padding: 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.67)), url("../img/mobile.jpeg") left center / cover no-repeat;
    text-align: center;
}

.title-projects {
    color: var(--cor_principal);
    text-align: center;
    font-family: var(--fonte_titulo);
    font-weight: 400;
    margin-bottom: 1rem;
}

.project {
    border-radius: 20px;
    margin: 2rem 0.5rem;
    padding-bottom: 1rem;
}

.project-description {
    padding: 1.5rem;
    background-color: var(--cor_cinza);
    font-family: var(--fonte_texto);
    color: var(--cor_branco);
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
}

.project-name {
    margin: 0.5rem;
    text-align: center;
    font-family: var(--fonte_titulo);
}

.project-logo {
    border-radius: 20px 20px 0 0;
    height: 300px;
    background-color: var(--cor_branco);
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-logo img {
    width: 150px;
    object-fit: contain;
}

.project-description a {
    background-color: var(--cor_principal);
    display: block;
    margin: auto;
}

/* FOOTER */

footer .content {
    display: flex;
    justify-content: space-between;
}

footer .change-btns {
    width: 30px;
    cursor: pointer;
}

footer .change-btns img {
    width: 100%;
}

.subfooter {
    text-align: center;
}

.subfooter a {
    text-decoration: none;
    font-weight: bold;
}

.function-buttons {
    display: flex;
    gap: 10px;
}